*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: montserrat, "Trebuchet MS", Helvetica, sans-serif
}
#intro{
    height: 360px;
    width: 100%;
    /* border: solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 70px;
    /* font-family: Arial, Helvetica, sans-serif; */
    

}
#intro>h1{
    font-size: 50px;
    color: #10069f;
}
#intro>h1+p{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 25px;
    font-weight: 100;
}
.blue{
    color: #10069f;
    text-align: center;
    font-size: 40px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 600;

}
#first_box{
    display: flex;
    padding: 3%;
    background-color: #f5f4f4;
    justify-content: space-between;
    align-items: center;
}
#first_box>iframe{
    width: 50%;
    /* border: solid red; */
}

.common{
    width: 40%;
    /* border: solid black; */

}

.para{
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 1.3;
    margin-top: 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
   
}
.para1{
    font-size: 20px;
    font-weight: 0;
    line-height: 1.4;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.what_we_do{
    margin-top: 60px;
}
.what_we_do+p{
    font-size: 27px;
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: 100;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#blue_cards_container{
    width: 94%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.blue_cards{
    width: 22%;
    border-radius: 10px;
    background-color:  #10069f;
   
    color: white;
    height: 250px;
    /* text-align: center;
    padding: 50px; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.6s;
}
.blue_cards:hover{
    transform: scale(1);
    margin-top: -1%;
    color: #fe5000;
}
.add{
    /* font-family: Arial, Helvetica, sans-serif; */
}
.orange{
    background-color: #fe5000;
    color: white;
    height: 50px;
    width:220px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 15px;
    margin-top: 10px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.orange>i{
    color: #10069f;
    margin-left: 15px;
}
#news{
    background-color: #10069f;
    width: 100%;
    /* height: 500px; */
    border:1px solid #10069f;
}
.blue_news{
    color: white;
    margin-top: 40px;
}
#news>p{
    font-size: 23px;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    margin-top: 30px;
    color: white;
}
#news_flex_box{
    width: 90%;
    height: 500px;
    /* border: 1px solid red; */
    margin: auto;
   margin-top: 60px;
   margin-bottom: 90px;
    display: flex;
    justify-content: space-around;
}
#news_flex_box>div{
    width: 30%;
    height: 100%;
    /* border:1px solid red; */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

}
.article{
    /* border: solid red; */
    padding: 20px;
    width: 100%;
    height: 100%;
}
.article>p{
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #10069f;
}
.article>a{
    /* align-items: flex-end; */
    /* background-color: red; */
    margin-bottom: -1px;
}
.article>hr{
    margin-top: 35%;
    margin-bottom: 20px;
}
.article a{
   padding: 20px;
   
  color: #fe5000;
  /* font-family: 'Times New Roman', Times, serif; */
  font-size: 17px;
}
.article a>i{
    color: #10069f;
}
#news_flex_box img{
    width: 100%;
}
/* 3 flex box syling end here**************** */
#meet_our_menteros{
    background-color: #f5f4f4;
    /* height: 700px; */
    width: 100%;
    border: 1px solid transparent;
    padding-top: 70px;
}
#mentors_flex_box{
    /* border: 1px solid black; */
    width: 95%;
    /* height: 100px; */
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    display: grid;
    gap: 40px 0px;
    grid-template-columns: repeat(5,1fr);
}
#mentors_flex_box>div{
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    /* border: 1px solid red; */
}
#mentors_flex_box>div>h3{
    color: #10069f;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 300;
}
#mentors_flex_box>div>p{
    /* margin-bottom: 40px;
    background-color: red; */
    font-size: 15px;
}
#mentors_flex_box>div>img{
    width: 90%;
    padding: 20px;
    border-radius: 50%;
    margin: auto;
    transition: 0.6s;
}
#mentors_flex_box>div>img:hover{
    transform: scale(1.1);
}
#landing_by_example{
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* border: 1px solid black; */
}
#landing_by_example>img{
    width: 60%;
    align-self: center;
}
/* .common{
    border: 1px solid black;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 100px;
    gap: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
} */
.name{
    width: 100%;
    /* border: 1px solid red; */
    /* height: 300px; */
    display: flex;
    align-items: center;
margin-top: 50px;
    justify-content: space-evenly;
}
/* .name>div{
    border: solid black;
    width: 40%;
    height: fit-content;
   
} */
.tick{
   width: fit-content;
    /* border: 1px solid black; */
    /* height: 100px; */
    display: flex;
    align-items: center;
    gap: 60px;
    margin: auto;
    margin-top: 50px;
}
.allign_left_h1{
    text-align: start;
}
.tick img{
    border-radius: 50%;
}