* {
    margin: 0%;
    padding: 0%;
box-sizing: border-box;
font-family: sans-serif


}

#youtubeframe{
    border-radius: 10px;
    border: none;
}

#navbar {
    /* border: 1px solid black; */
    background: #fff;
    z-index: 1;
    width: 100%;
    display: flex;
    gap: 14%;
    margin: auto;
    height: 50px;
    padding-top: 3%;
    padding-bottom: 3%;
    position: sticky;
    top: 0%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

}



#image_box {
    /* border: 1px solid black; */
    margin-left: 2%;
    width: 15%;
    /* padding: 10px; */
}

#image_box>img {
    width: 90%;
    margin-left:30px;
}

#links_box {
    /* border: 1px solid red; */
    width: 68%;
    display: flex;
    justify-content: space-between;
}

#links_box a {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    /* font-family: Arial, Helvetica, sans-serif; */

}

#links_box a:hover {
    color: #fe5000;
}

#navbar>div {
    display: flex;
    align-items: center;
    /* border: solid black; */

}



#request_demo a {
    border-radius: 20px;
    margin-top: 3%;
    color: white;
    height: 40px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 169);
    transition: 0.7s;
    /* border: solid red; */

}

#request_demo a:hover {

    background-color: #fe5000;
    color: white;
    transform: translate3d(3);
}

#links_box>p {
    display: flex;

    flex-direction: column;
    justify-content: center;
}
#footer{
    padding:7% 4% 0 4%;
    background-color: white;
    /* border: solid red; */
}
#blue_bar{
  margin: auto;
    height: 100px;
    background-color: rgb(21, 21, 167);
    display: flex;
    overflow: visible;
    color: white;
    font-size: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
}
#blue_bar>p>span{
    color: #fe5000;
}
#blue_bar>p{
    font-size: 21px ;
    width: 39%;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#f_main{
    display: flex;
    margin-top: 100px;
    /* border: solid black; */
    margin-bottom: 100px;
    justify-content: space-between;
}

#f_right{

    width: 65%;
    /* border: solid black; */
    
    display: flex;
    justify-content: space-between;
}
#f_right a{
    text-decoration: none;
    /* color: black; */
}
#f_right>div>a{
    font-size: 20px;
    font-weight: 600;
    color: navy;
    margin-bottom: 18px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
#f_right a:hover{
    color: #fe5000;
    transition: 0.7s;
}
.sum_menu3{
    display: flex;
    flex-direction: column;
}
#f_right ul>li{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    line-height: 35px;
    
}
#f_right ul>li>a{
    color: black;
    /* opacity: 0.7; */
    /* font-family:   sans-serif; */
}
#last{
    width: 100%;
    height: 100px;
    /* border: solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#last>div:nth-child(1){
display: flex;
gap: 20px;
color: black;

}
#last>div:nth-child(1) a{
    /* text-decoration: none; */
    color: black;
    font-size: 15px;
    font-weight: 100;
    /* font-family: Arial, Helvetica, sans-serif; */

    /* opacity: 0.8; */
}

#last>div:nth-child(1) a:hover{
    color: #fe5000;
    /* text-decoration: underline; */
    transition: 0.7s;
    
}
#last>div:nth-child(2){
    color: #fe5000;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 20px;
    margin-right: 60px;
}
#last>div:nth-child(2) i:hover{
    color: rgb(21, 21, 167);
}
#f_left{
    width: 30%;
    /* border: solid red; */
    line-height: 40px;
    font-size: 13px;
    /* font-family: Garamond; */
}
#f_left span{
    font-size: 14px;
}
#f_left span:hover{
    color: #fe5000;
    cursor: pointer;
}
#f_left>img{
    width: 60%;
    margin-bottom: 20px;
}
#intro_text{
    font-size: 27px;
    /* font-weight: 300px; */
    /* opacity: 0.8; */
}
#place_div{
    width: 100%;
    height: 57px;
    border-radius: 50px;
    /* justify-content: space-between; */
    padding:5px 5px 5px 20px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    background-color:  #e3e0e0 ;
    margin-top: 20px;
    margin-bottom: 20px;
}
#place_div>input{
    height: 100%;
    
}
#place_div>button{
    height: 100%;
    
}
#place_div>input{
    height: 100%;
    width: 60%;
    background-color: transparent;
    border: none;
    
}
#place_div>button{
    width: 120px;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: rgb(28, 28, 173);
    font-size: 17px;
    cursor: pointer;
    /* font-family: Arial, Helvetica, sans-serif; */
    
}
#place_div>button:hover{
    background-color: #fe5000;
    transition: 0.7s;
}

/* ***********mouseover css ********/
#window{
    width: 94%;
    /* height: 350px; */
    display: flex;
    /* padding: 6px; */
    position: fixed;
    margin-left: 3%;
   top: 100px;
    background-color: white;
    transition: 0.9s;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* #window>div:first-child>h1:hover{
color: #fe5000;
} */
#window>div{
    width: 25%;
    /* border:1px solid black; */
   
    padding: 40px;
    line-height: 30px;
    
}
.blue1{
    color: #10069f ;
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 20px;
}
.blue1+p{
    font-size: 20px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: 100;
    margin-bottom: 40px;
}
.blue1+p+a{
   padding: 12px 35px;
   color: white;
   border-radius: 30px;
   cursor: pointer;
   transition: 0.9s;
   /* font-family: Arial, Helvetica, sans-serif; */
   background-color: #fe5000;
}
.blue1+p+a>i{
    color: #10069f;
   
}

.on_headings{
    font-size: 22px;
    color: #10069f ;
    font-weight: 500;
    /* font-family: Arial, Helvetica, sans-serif; */

    
}
#window>div:last-child{
    background-color: navy;
    color: white;
     
 }
.Contact{

    /* color: #fe5000; */
    font-size: 22px;
    font-weight: 500;
     
 }
.Contact:hover{

    color: #fe5000;
    cursor: pointer;
     
 }